.yarn/*
!.yarn/plugins/
!.yarn/plugins/*
!.yarn/releases/
!.yarn/releases/*

**/.DS_Store
.DS_Store
**/tsconfig.tsbuildinfo

**/dist
**/build

**/node_modules/*
**/node_modules
node_modules/*
node_modules

**/.cdk.staging
**/cdk.out